.wananchi-form-video {
  width: 40rem;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.wananchi-form-video-input-text {
  margin-bottom: 1rem;
  border-bottom: 2px solid blue;
  color: black;
}

.wananchi-form-video-input-submit {
  background-color: orange;
  color: white;
  font-size: 1.3rem;
}

.wananchi-form-video-input-file-label {
  margin: 1rem;
}
