.advertscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertscreen-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: fit-content;
  background-color: whitesmoke;
}

.advertscreen-product-container {
  background-color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.advertscreen-product-container > div {
}

.advertscreen-product--image-container {
  height: 10rem;
  width: 13rem;
  border: 1px solid black;
}

.advertscreen-product--title {
  color: blue;
}

.advertscreen-product--image-container > img {
  height: 10rem;
  width: 13rem;
  object-fit: cover;
}

.advertscreen-product--details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advertscreen-seller-link {
  color: blue;
  font-size: 1.2rem;
  letter-spacing: 1.05px;
  text-decoration: none;
}
.advertscreen-seller-link:hover {
  color: orange;
  cursor: pointer;
}

.advertscreen-supplier-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advertscreen-contact-supplier-container {
  background-color: rgb(110, 202, 110);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  color: white;
}

.advertscreen-supplier-tag {
  color: rgb(111, 209, 111);
  font-weight: 600;
}

@media (max-width: 600px) {
  .advertscreen-product-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .advertscreen-container {
    width: 100%;
  }

  .advertscreen-product--image-container {
    height: 13rem;
    width: 100%;
  }

  .advertscreen-product--image-container > img {
    height: 13rem;
    width: 100%;
  }

  .advertscreen-product--details-container {
    font-size: 1.15rem;
    letter-spacing: 1px;
  }
}
