.general__news {
  margin-top: 5px;
  margin-bottom: 1rem;
  margin-left: 20px;
  display: flex;
  gap: 40px;
  flex: 1;
}

.general__news__container {
  height: fit-content;
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: #f6f5f5;
  margin-bottom: 10px;
}

.general__news__container__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.general__news__container__image > img {
  width: 300px;
  height: 220px;
  flex: 1;
  border-radius: 10px;
}

.general__news__container__content {
  margin-left: 15px;
}
.general__news__container__header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.general__news__category {
  background-color: orange;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 5rem;
  text-align: center;
}

.general__news__container__header__title {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.05rem;
}

.general__news__container__header__title:hover {
  color: orange;
}

hr {
  display: none;
}

/* SMALL SCREENS  */

@media (max-width: 600px) {
  hr {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .general__news {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .general__news__container {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    background-color: #f6f5f5;
    margin-bottom: 10px;
  }

  .general__news__container__image > img {
    width: 70px;
    height: 70px;
    flex: 1;
    border-radius: 5px;
  }
}
