.auth-login-screen {
  padding: 5%;
}

/* .auth-screen {
  padding: 10rem;
}

.auth-form {
  height: fit-content;
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 13rem;
  left: 50%;
  border-radius: 0.625rem;
  backdrop-filter: blur(0.625rem);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 3.124rem 2.1875rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.auth-form * {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
}

.auth-form > h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.625rem;
  text-align: center;
}
.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-top: 1.875rem;
  font-size: 1rem;
  font-weight: 500;
}

.password-container-input {
  flex: 1;
}

input {
  display: block;
  height: 3.124rem;
  width: 100%;
  border-radius: 3px;
  padding: 0 0.625rem;
  margin-top: 8px;
  font-size: 0.875rem;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid blue;
}

.password-container {
  display: flex;
  gap: 2px;
  border-bottom: 1px solid blue;
}

button {
  margin-top: 3.124rem;
  width: 100%;
  color: #080710;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: orange;
  color: white;
}

.social {
  min-height: 3rem;
  background-color: blue;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 30px 50%;
  border-bottom-left-radius: 30px 50%;
  border-top-right-radius: 30px 50%;
  border-bottom-right-radius: 30px 50%;
}

.usernmae-container {
  border: none;
  border-bottom: 1px solid blue;
}

.or-container {
  text-align: center;
}

.or-container:before,
.or-container:after {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.or-container:before {
  right: 0.5em;
  margin-left: -50%;
}

.or-container:after {
  left: 0.5em;
  margin-right: -50%;
}

.no-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header-logo {
  width: 90px;
  height: 50px;
}
.form-header-logo > img {
  width: 90px;
  height: 50px;
}

SMALL SCREENS 
@media (max-width: 600px) {
  .auth-screen {
    padding: 1rem;
    height: 30rem;
  }
  .background {
    width: 16.875rem;
    height: 22.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .background .shape {
    height: 5.5rem;
    width: 5.5rem;
    position: absolute;
    border-radius: 50%;
  }
  .form {
    margin-top: 8rem;
    height: fit-content;
    width: 23rem;
    padding: 0.124rem 1.1875rem;
  }

  .form > h3 {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  label {
    display: block;
    margin-top: 0.875rem;
  }
  input {
    height: 2.124rem;
  }
  button {
    margin-top: 1.124rem;
    padding: 10px 0;
  }
} */
