.videos-screen {
  background-color: gainsboro;
  height: fit-content;
  padding: 1rem;
}

.videos-screen-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-height: 84.5vh;
}

.videos-screen-video-container {
  background-color: white;
  /* height: fit-content; */
  height: 23rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.7rem;
}

.videos-screen-video-content-container {
  height: 70%;
  width: 18.5rem;
  position: relative;
}

.videos-screen-video-description-container {
  font-size: 1rem;
}

.videos-screen-video-content-container > video {
  object-fit: cover;
  width: 18.5rem;
  height: 100%;
}

.play-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 40%;
  left: 40%;
  cursor: pointer;
}

.videos-screen-loading-spinner {
  height: 100%;
  width: 97.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
}

.video-card-footer-btns {
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

/* Video Card */
.video-card {
  background-color: white;
  height: 23rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-card-video-container {
  top: 0px;
  position: relative;
  height: 65%;
  width: 100%;
}
.video-card-video-container > video {
  height: 100%;
  width: 100%;
  top: 0px;
  position: relative;
  object-fit: cover;
}

.video-card-text-container {
  height: 25%;
  width: 100%;
}

.video-card-btns-container {
  height: 10%;
  width: 100%;
}

.video-card-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-icons {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.video-comment-form {
  display: flex;
  align-items: center;
}

.video-comment-form-input {
  flex: 1;
}

.comment-views-stats {
  font-weight: bold;
}

.like-container {
  width: 3rem;
}

/* SMALL SCREEN */

@media (max-width: 600px) {
  .videos-screen-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 88vh;
  }
  .videos-screen-video-content-container {
    width: 19.5rem;
  }
  .videos-screen-video-description-container {
    font-size: 1.23rem;
  }

  .videos-screen-video-content-container > video {
    object-fit: cover;
    width: 10rem;
    height: 100%;
  }
}
